<div class="vstack" data-controller="bottom-scroll">
  <%= turbo_frame_tag "turbo-logs-#{@lower_id}" do %>
    <% if @logs.exists? %>
      <%= turbo_frame_tag "turbo-logs-#{@next_lower_id}", loading: :lazy, src: logs_path(lower_id: @next_lower_id) do %>
        <p class="text-center fs-3">読み込み中</p>
      <% end %>
      <% @logs.each do |log| %>
        <div class="card">
          <div class="card-body">
            <p class="card-text">
              <%= log.content%>
            </p>
          </div>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>
